.about {
  display: flex;
  height: 110vh;
  min-height: 600px;
  @media (max-width:704px){
    flex-direction: column;
    min-height: 650px;
  }
  .kdo_jsme {
    padding: 80px 10px 10px;
    flex: 0 1 30%;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    cursor: default;
    align-items: center;
    background: rgb(87, 45, 45);
    font-family: "Lora";
    text-transform: uppercase;
    color: rgb(175, 155, 44);
    @media (max-width:704px){
     max-height: 35vh;
      flex-direction: row;
      justify-content: center;
    }
    .active {
      opacity: 1;
      transition: all 0.5s ease;
    }
    h1 {
      opacity: 0.4;
      font-size: 3.5rem;
      margin-top: 50%;
      margin-bottom: 100px;
      transform-origin: center;
      transition: all 0.4s ease-out;
      @media (max-width:704px){
        margin: 0;
      }
      @media (max-width:532px){
        font-size: 2.5rem;
      }
      @media (max-width:487px){
        font-size: 2.2rem;
      }
    }
    h3 {
      opacity: 0.4;
      transform-origin: center;
      transition: all 0.4s ease-out;
      @media (max-width:532px){
        font-size: 2rem;
      }
      @media (max-width:487px){
        font-size: 1.8rem;
      }
      &:not(:last-child) {
        margin-bottom: 25px;
        @media (max-width:704px){
          margin: 0 15px;
        }
      }
    }
  }

  //move the each child of conatiner to same spot to overlap each other, than use transitiongroup to 
  //animate fade in
  //pos absolute is necessary, tranistion doesnt allow to render something after another
  //or at least couldnt figure it out better, transitiongroup didnt work
  .conditional {
    flex: 0 1 70%;
    background: rgb(245, 245, 245);
    background-image: url(./images/bacg.png);
    position: relative;
    min-height: 680px;

    &-text {
      position: absolute;
      top: 20%;
      left: 15%;
      opacity: 0;
      padding-right: 10px;
      transition: all .5s ease-in-out;
      @media (max-width:704px) {
        top:0;
        left: 0;
        padding: 50px;
      }
      &.appear{
        opacity: 1;
      }
      &.fade-enter{
        opacity: 0; transition: all .5s .5s ease-in-out;
      }
      &.fade-enter-active,&.fade-exit{
        opacity: 1;
      }
      &.fade-enter-done{
        opacity: 1;
      }
      &.fade-exit{
        transition: all .5s ease-in-out;
      }
      &.fade-exit-active{
        opacity: 0;
      }
      
    }
    h2 {
      font-size: 2.5rem;
      font-weight: 400;
      margin-bottom: 25px;
      text-transform: uppercase;
      @media (max-width:547px) {
        font-size: 2rem;
      }
    }
    p {
      max-width: 600px;
      margin-bottom: 15px;
      font-size: 1.8rem;
      font-family: "Rubik";
      @media (max-width:547px) {
        font-size: 1.5rem;
      }
    }

    .images {
      position: relative;
      height: 200px;
      padding: 10px;
      margin-top: 20px;
      .img1 {
        max-width: 150px;
        position: absolute;
        top:45%;
        right: 20%;
        z-index: 2;
      }
      .img2{
          max-width: 255px;
          position: absolute;
          top: 0;
          right: 30%;
      }
      img {
        width: 100%;
      }
    }
  }
}
