.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  height: 8.2rem;
  position: relative;
  font-size: 1.8rem;
  font-weight: 600;
  &-logo {
    font-size: 1.8rem;
  }
  &-nav {
    display: flex;
    align-items: center;

    a {
      &:not(:last-of-type) {
        margin-right: 3rem;
      }
    }
  }
}
