.intro{
    padding: 80px 10px;
    display: flex;
    min-height: 80vh;
    animation: intro .8s 3s backwards;
    @media (max-width:1050px) {
        
        flex-direction: column;
        align-items: center;
    }
  
    @media (max-width:344px) {
        
        padding-bottom: 20px;
    }
  
    &-card{
        padding:220px 40px 0px 40px; //setting for text Jokopodlahy intro
        margin: 0 auto;
        @media (max-width:1050px) {
        
            width: 80%;
           padding-top:100px; 
        }
        @media (max-width:470px){
            text-align: center;
            padding: 50px 0 0 0;
        }
    }
    &-mainHeader{
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        text-align: center;
        font-size: 4.8rem;
        margin-bottom: 10px;
        @media (max-width:470px) {
            font-size: 3.2rem;
        }
    }
    &-secondaryHeader{
        font-family: 'Lora', serif;
        text-align: center;
        font-weight: 400;
        font-size: 1.8rem;
        margin-bottom: 50px;
    }
    &-links{
        display: flex;
        justify-content: space-between;
        margin-top:60px;
        font-size: 1.4rem;
        font-family: 'Montserrat', sans-serif;
    }
    p{
        font-family: 'Rubik',sans-serif;
        font-size: 1.6rem;
        max-width: 377px;
        @media (max-width:470px) {
            font-size: 1.4rem;
        }
    }
  &-cards{
      padding-top: 50px;
      padding-right: 5px; 
      padding-left:140px ; //padding for picture and cardsliders cards -- horible naming redo this in future
      @media (max-width:1050px) {
        padding-left:40px; 
        width: 70%;
       margin: 0 auto;
    }
        @media (max-width:567px) {
            padding: 20px 0;
        }
      & .transition-helper{
          max-width: 100%;
          overflow: hidden;
          max-height: 700px;
          position: relative;
      }
       
  }
}


@keyframes intro{
    0%{
        opacity: 0;
        transform: translate(0, 50%)

    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
        transform: translate(0,0)
    }
}