.intro{
    padding: 80px 10px;
    display: flex;
    
    @media (max-width:1050px) {
        
        flex-direction: column;
        align-items: center;
    }
  
    &-card{
        padding:220px 40px 0px 40px; //setting for text Jokopodlahy intro
        margin: 0 auto;
        @media (max-width:1050px) {
        
            width: 80%;
           padding-top:100px; 
        }
    }
    &-mainHeader{
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        text-align: center;
        font-size: 4.8rem;
        margin-bottom: 10px;
    }
    &-secondaryHeader{
        font-family: 'Lora', serif;
        text-align: center;
        font-weight: 400;
        font-size: 1.8rem;
        margin-bottom: 50px;
    }
    &-links{
        display: flex;
        justify-content: space-between;
        margin-top:60px;
        font-size: 1.4rem;
        font-family: 'Montserrat', sans-serif;
    }
    p{
        font-family: 'Rubik',sans-serif;
        font-size: 1.6rem;
        max-width: 377px;
    }
  &-cards{
      padding-top: 50px;
      padding-left:140px ; //padding for picture and cardsliders cards -- horible naming redo this in future
      @media (max-width:1050px) {
        padding-left:40px; 
        width: 70%;
       margin: 0 auto;
    }
      & .transition-helper{
          max-width: 100%;
          overflow: hidden;
          max-height: 700px;
      }
       
  }
}