.slider{
    position: relative;
    overflow: hidden;
    height: 350px;
    
    min-width: 300px;
    width: 660px;
    border: 2px solid black;
    @media (max-width:451px) {
        height:400px;
    }
    .arrow{
        z-index: 100;
        position: absolute;
        left: 2%;
        top: 90%;
        cursor: pointer;
    }
    .arrow.right{
        position: absolute;
        left: 92%;
      
    }
    .dots{
        top: 90%;
        left: 50%;
        transform: translatex(-50%);
        .dot{
            cursor: pointer;
        }
    }
}